.navbar{
    margin: auto;
    display: flex;
    background-color: black;
    width: 100%;
    color: white;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.links{
margin:auto;
width: 300px;
display: flex;
}